{% extends 'base.html' %}

{% block maincontent%}


<div class="row">

    <div class="col-4">
        <div class="card">
            <div class="card-header" id = "explorerheader">
                Темы
            </div>
        
            <div class="card-body" id = "explorer">
                Тем пока нет.
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="card">
            <div class="card-header" id = "editorheader">
                
            </div>
        
            <div class="card-body" id="editor" >
                
            </div>
        </div>
    </div>

</div>
{% endblock %}